*{
    margin: 0px;
    border: 0px;
}

h1{
    text-align:center;
}

.btnDiv{
    text-align: center;
    padding: 10px;
    margin:10px;
}
.btn{
    border:none;
    padding: 8px;
    text-align: center;
    border-radius: 7px;
    color:cadetblue;
    font-size: 17px;
    font-weight:500;
    cursor:pointer;
}

.centerAlignDiv{
    display:Flex;
    align-items: center;
    justify-content: center;
}

.gridContainer{
    width:960px;
    height:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}